div {
    width: 50%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    border-bottom: 6px double black;
    width: 30%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    border-bottom: 2px groove;
    width: 15%;
    margin: 10px auto 30px auto;
}

p {
    text-indent: 1em;
}

p.quote {
    text-indent: 0;
}

p.asterisk {
    text-align: center;
    color: tomato;
}

ul {
    width: 10%;
    margin: 0 auto;
    text-align: center;
}